@import "../_variables.scss";

.btn, 
.btn:hover {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 5rem;
    margin: 1rem auto;
    font-size: 3rem;
    border-radius: 5rem;
    transition: 0.3s;
    animation: glow 2s infinite;
    transition: 0.5s;
}

.neon {
    background-color: rgb(78, 78, 74);
    color: color(whites);
    transition: 0.3s;
    opacity: 1;
    
}

.btn:hover{
    transform: translateX(-20)rotate(30deg);
    border-radius: 5rem;
    background-color: color(whites);
    color: rgb(78, 78, 74) ;
    transition: 0.5s;
}

@keyframes glow{
    0%{
    box-shadow: 2rem 2rem 5rem color(purples), -2rem -2rem 5rem color(purples)}

    50%{
    box-shadow: 2rem 2rem 5rem color(blues),-2rem -2rem 5rem  color(blues)}

    75%{
    box-shadow: 2rem 2rem 5rem color(pinks),-2rem -2rem 5rem  color(pinks)}

    100%{
    box-shadow: 2rem 2rem 5rem color(purples),-2rem -2rem 5rem color(purples)} 
}
