html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 5rem;
  margin: 1rem auto;
  font-size: 3rem;
}

.neon {
  background-color: #4e4e4a;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  border-radius: 5rem;
  transition: 0.3s;
  -webkit-animation: glow 2s infinite;
          animation: glow 2s infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.neon:hover {
  -webkit-transform: rotate(-30deg) translateX(20px);
          transform: rotate(-30deg) translateX(20px);
  border-radius: 5rem;
  background-color: #fff;
  color: #4e4e4a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
            box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
  }
  50% {
    -webkit-box-shadow: 2rem 2rem 5rem #51e0d2, -2rem -2rem 5rem #51e0d2;
            box-shadow: 2rem 2rem 5rem #51e0d2, -2rem -2rem 5rem #51e0d2;
  }
  75% {
    -webkit-box-shadow: 2rem 2rem 5rem #e184d4, -2rem -2rem 5rem #e184d4;
            box-shadow: 2rem 2rem 5rem #e184d4, -2rem -2rem 5rem #e184d4;
  }
  100% {
    -webkit-box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
            box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
  }
}

@keyframes glow {
  0% {
    -webkit-box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
            box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
  }
  50% {
    -webkit-box-shadow: 2rem 2rem 5rem #51e0d2, -2rem -2rem 5rem #51e0d2;
            box-shadow: 2rem 2rem 5rem #51e0d2, -2rem -2rem 5rem #51e0d2;
  }
  75% {
    -webkit-box-shadow: 2rem 2rem 5rem #e184d4, -2rem -2rem 5rem #e184d4;
            box-shadow: 2rem 2rem 5rem #e184d4, -2rem -2rem 5rem #e184d4;
  }
  100% {
    -webkit-box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
            box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
  }
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  position: relative;
  margin: 5rem;
  width: 50vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 5rem;
}

.card:hover {
  height: 30vh;
}

.card p {
  position: relative;
  padding: 1rem 1.5rem;
  text-align: center;
  color: #000;
  visibility: hidden;
}

.card h1 {
  text-align: center;
  padding: 1rem;
}

.card:hover p {
  position: relative;
  visibility: visible;
}

html,
body {
  background-color: darkgray;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */