html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 5rem;
  margin: 1rem auto;
  font-size: 3rem;
}

.neon {
  background-color: #4e4e4a;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  border-radius: 5rem;
  transition: 0.3s;
  -webkit-animation: glow 2s infinite;
          animation: glow 2s infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.neon:hover {
  -webkit-transform: rotate(-30deg) translateX(20px);
          transform: rotate(-30deg) translateX(20px);
  border-radius: 5rem;
  background-color: #fff;
  color: #4e4e4a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
            box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
  }
  50% {
    -webkit-box-shadow: 2rem 2rem 5rem #51e0d2, -2rem -2rem 5rem #51e0d2;
            box-shadow: 2rem 2rem 5rem #51e0d2, -2rem -2rem 5rem #51e0d2;
  }
  75% {
    -webkit-box-shadow: 2rem 2rem 5rem #e184d4, -2rem -2rem 5rem #e184d4;
            box-shadow: 2rem 2rem 5rem #e184d4, -2rem -2rem 5rem #e184d4;
  }
  100% {
    -webkit-box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
            box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
  }
}

@keyframes glow {
  0% {
    -webkit-box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
            box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
  }
  50% {
    -webkit-box-shadow: 2rem 2rem 5rem #51e0d2, -2rem -2rem 5rem #51e0d2;
            box-shadow: 2rem 2rem 5rem #51e0d2, -2rem -2rem 5rem #51e0d2;
  }
  75% {
    -webkit-box-shadow: 2rem 2rem 5rem #e184d4, -2rem -2rem 5rem #e184d4;
            box-shadow: 2rem 2rem 5rem #e184d4, -2rem -2rem 5rem #e184d4;
  }
  100% {
    -webkit-box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
            box-shadow: 2rem 2rem 5rem #5d34a8, -2rem -2rem 5rem #5d34a8;
  }
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  position: relative;
  margin: 5rem;
  width: 50vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card:hover {
  height: 30vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e184d4));
  background: linear-gradient(#fff, #e184d4);
}

.card p {
  position: relative;
  padding: 1rem 1.5rem;
  text-align: center;
  color: #000;
  visibility: hidden;
}

.card h1 {
  text-align: center;
  padding: .5rem .5rem;
}

.card:hover p {
  position: relative;
  visibility: visible;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card2 {
  position: relative;
  width: 20vw;
  height: 30vh;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#51e0d2), to(#5d34a8));
  background: linear-gradient(#51e0d2, #5d34a8);
}

.card2:hover {
  border-radius: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.card2 img {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  height: 30vh;
  left: 15%;
  -webkit-transform: translateX(50);
          transform: translateX(50);
  -webkit-transition: 1s;
  transition: 1s;
}

.card2:hover img {
  left: 80%;
  height: 50vh;
}

.card2 p {
  visibility: hidden;
  text-align: center;
  padding-top: 5rem;
}

.card2:hover p {
  visibility: visible;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.photo {
  width: 20vw;
  height: 30vh;
  position: relative;
  overflow: hidden;
  color: #fff;
  margin-top: 5rem;
  border-radius: 2rem;
}

.photo img {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #000;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.photo:hover h3 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-radius: 2rem;
}

.photo:hover img {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

html,
body {
  background-color: darkgray;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */