@import "_variables.scss";
@import "hover/_neonbtn.scss";
@import "hover/_cardhover.scss";
@import "hover/_card.scss";
@import "hover/_photo.scss";
@import "hover/_block.scss";

html,
body {
    background-color: darkgray;
}

.container{
    width: 80vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}